.form {
    background-color: white;
    border-radius: 10px;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-width: 80%;
    margin: 2rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    height: 430px;
    /* 70vh OR 430px */
}

.title {
    color: #781715;
    text-align: center;
    font-size: 2rem;
    margin: .3rem 0;
}

/* Checkbox color */
.css-ptiqhd-MuiSvgIcon-root {
    color: #781715;
}

.secondary-action {
    text-align: center;
}

.link {
    font-weight: 700;
    text-decoration: none;
    color: #781715;
    margin-bottom: 1rem !important;
}

.button {
    background-color: #781715 !important;
    padding: .8rem !important;
    border-radius: 5rem !important;
    font-size: 1rem !important;
    font-weight: 100;
}

.button:hover {
    background-color: #781715 !important;
}

/* Input Fields */
.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 5rem !important;
}

@media screen and (min-width: 768px) {
    .form {
        min-width: 24rem;
    }
}